.main-header {
    width: 100%;
    background-color: $black;
    color: $white;
    padding: 12px 0;

    &__wrapper {
        max-width: $layout-max-width;
        display: flex;
        justify-content: space-between;
    }

    &__logo-link {
        display: block;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__logo {
        display: block;
        max-width: 45px;
        height: auto;
        margin-left: $margin-vertical;
    }
}