.home-masters {
    margin: 100px auto;

    &__section {
        background-color: $grey;
        display: flex;
        width: 100%;
        max-width: $layout-max-width;
        justify-content: space-around;
    }

    &__image {
        img {
            max-width: 400px;
            height: auto;
            object-fit: cover;
        }
    }

    
}