.home-video {

    &__wrapper {
        width: 100%;
        max-width: $layout-max-width;
        margin: 50px auto;

        video {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__video-desc {
        color: $grey;
        margin-top: 10px;
    }
}